landingUI_desktop_mobile_kit/index.html
landingUI_desktop_mobile_kit/assets/An E.R.A.Univac 1103 computer in the 1950s.png
landingUI_desktop_mobile_kit/assets/Computer operators with an Eniac — the world’s first programmable general-purpose computer.png
landingUI_desktop_mobile_kit/assets/embed1_.png
landingUI_desktop_mobile_kit/assets/embed1.png
landingUI_desktop_mobile_kit/assets/embed2_.png
landingUI_desktop_mobile_kit/assets/embed2.png
landingUI_desktop_mobile_kit/assets/embed3_.png
landingUI_desktop_mobile_kit/assets/embed3.png
landingUI_desktop_mobile_kit/assets/embed4.png
landingUI_desktop_mobile_kit/assets/grace-hopper.png
landingUI_desktop_mobile_kit/assets/icon1.svg
landingUI_desktop_mobile_kit/assets/icon2.svg
landingUI_desktop_mobile_kit/assets/icon3.svg
landingUI_desktop_mobile_kit/assets/icon4.svg
landingUI_desktop_mobile_kit/assets/Katie-Bouman.png
landingUI_desktop_mobile_kit/assets/logo.svg
landingUI_desktop_mobile_kit/assets/Margaret_Hamilton.png
landingUI_desktop_mobile_kit/assets/phone.png
landingUI_desktop_mobile_kit/assets/susan-kare.png
landingUI_desktop_mobile_kit/links/landing-podcast-landing-podcast_desktop.html
landingUI_desktop_mobile_kit/links/landing-podcast-landing-podcast_mobile.html
landingUI_desktop_mobile_kit/links/landing-podcast-ui-kit.html
landingUI_desktop_mobile_kit/preview/landing-podcast-landing-podcast_desktop.png
landingUI_desktop_mobile_kit/preview/landing-podcast-landing-podcast_mobile.png
landingUI_desktop_mobile_kit/preview/landing-podcast-ui-kit.png
